<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add custom attributes to GraphQL product collection -->
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\Product\CollectionProcessor\AttributeProcessor">
        <arguments>
            <argument name="fieldToAttributeMap" xsi:type="array">
                <item name="song_title" xsi:type="string">title</item>
                <item name="song_duration" xsi:type="string">length</item>
                <item name="song_url" xsi:type="string">song_url</item>
                <item name="show_name" xsi:type="string">show_name</item>
                <item name="identifier" xsi:type="string">identifier</item>
                <item name="server_one" xsi:type="string">server_one</item>
                <item name="show_venue" xsi:type="string">show_venue</item>
                <item name="show_location" xsi:type="string">show_location</item>
                <item name="show_taper" xsi:type="string">show_taper</item>
                <item name="show_transferer" xsi:type="string">show_transferer</item>
                <item name="show_source" xsi:type="string">show_source</item>
                <item name="lineage" xsi:type="string">lineage</item>
                <item name="notes" xsi:type="string">notes</item>
                <item name="recording_type" xsi:type="string">recording_type</item>
                <item name="archive_avg_rating" xsi:type="string">archive_avg_rating</item>
                <item name="archive_num_reviews" xsi:type="string">archive_num_reviews</item>
            </argument>
        </arguments>
    </type>
</config>
