<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Redis ProgressTracker uses Magento's cache abstraction -->
    <type name="ArchiveDotOrg\Admin\Model\Redis\ProgressTracker">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
        </arguments>
    </type>

    <!-- Grid Data Source Collections -->
    <virtualType name="ArchiveDotOrgArtistStatusGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">archivedotorg_artist_status</argument>
        </arguments>
    </virtualType>

    <virtualType name="ArchiveDotOrgImportRunGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">archivedotorg_import_run</argument>
        </arguments>
    </virtualType>

    <virtualType name="ArchiveDotOrgUnmatchedTrackGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">archivedotorg_unmatched_track</argument>
        </arguments>
    </virtualType>

    <virtualType name="ArchiveDotOrgVenueGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">archivedotorg_venue</argument>
        </arguments>
    </virtualType>

    <!-- Register all collections in CollectionFactory -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="archivedotorg_artist_listing_data_source" xsi:type="string">ArchiveDotOrgArtistStatusGridCollection</item>
                <item name="archivedotorg_history_listing_data_source" xsi:type="string">ArchiveDotOrgImportRunGridCollection</item>
                <item name="archivedotorg_unmatched_listing_data_source" xsi:type="string">ArchiveDotOrgUnmatchedTrackGridCollection</item>
                <item name="archivedotorg_venue_listing_data_source" xsi:type="string">ArchiveDotOrgVenueGridCollection</item>
            </argument>
        </arguments>
    </type>
</config>
